html,
body {
  margin: 0;
}

:root {
  font-family: "Do Hyeon", sans-serif;
  background-color: #e3e3e3;

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
