.MainTable .btn {
}

.MainTable .mainTable {
  border-collapse: collapse;
  margin: auto;
}

.MainTable .mainTable td {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  text-align: center;

  font-size: 36px;
}

.MainTable .fill {
  background-color: #ffdde2;
}

.MainTable .buttons {
  text-align: center;
}

.MainTable .shuffle-btn {
  display: inline-block;
  background-color: #ddf3ff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 12px;
  cursor: pointer;
}

.MainTable .shuffle-btn:hover {
  background-color: #aae1ff;
}
