.WordTable {
  display: grid;
  grid-template-columns: auto auto auto;

  text-align: center;
  .col {
    border: 1px solid black;

    min-width: 70px;
    margin: 8px;
    padding: 8px;
    text-align: center;

    border-radius: 8px;
  }
}
